<div class="blank">
</div>
<div class="Break-Jacket">
</div>
<div class="blanks">
</div>
<div class="Jacket">
	<button class="btn btn-default">SINGLE</button>
	<p class="Jacket-title">#Breakthrough</p>
	<p class="Jacket-day">2019.07.24 Release</p>
	<p class="Jacket-introduction">JAPAN 5th SINGLE「#Breakthrough」</p>
	<p class="recorded-music">
		<b>○CD収録曲<br></b>
		01. Breakthrough<br>
		02. FANCY -Japanese ver.-<br>
		03. Breakthrough (taalthechoi Remix)<br>
		04. Breakthrough (Instrumental)<br>
	</p>
</div>
