<div class="blank">
</div>
<div class="Dance-Jacket">
</div>
<div class="blanks">
</div>
<div class="Jacket">
	<button class="btn btn-default">ALBUM</button>
	<p class="Jacket-title">#Summer Nights</p>
	<p class="Jacket-day">2018.07.09 Release</p>
	<p class="Jacket-introduction">TWICE 2nd SPECIAL ALBUM 『＃Summer Nights』</p>
	<p class="recorded-music">
		<b>○CD収録曲<br></b>
		01. Dance the Night Away<br>
        02. CHILLAX<br>
        03. Shot Thru the Heart<br>
        04. What is Love?<br>
        05. SWEET TALKER<br>
        06. HO!<br>
        07. DEJAVU<br>
        08. Say Yes<br>
        09. STUCK<br>
	</p>
</div>
