<div class="blank">
</div>
<div class="Fancy-Jacket">
</div>
<div class="blanks">
</div>
<div class="Jacket">
	<button class="btn btn-default">ALBUM</button>
	<p class="Jacket-title">#FANCY YOU</p>
	<p class="Jacket-day">2019.04.22 Release</p>
	<p class="Jacket-introduction">TWICE 7th MINI ALBUM 『＃FANCY YOU』</p>
	<p class="recorded-music">
		<b>○CD収録曲<br></b>
		01. FANCY<br>
        02. STUCK IN MY HEAD<br>
        03. GIRLS LIKE US<br>
        04. HOT<br>
        05. TURN IT UP<br>
        06. STRAWBERRY<br>
	</p>
</div>
