<div class="blank">
</div>
<div class="Feel-Jacket">
</div>
<div class="blanks">
</div>
<div class="Jacket">
	<button class="btn btn-default">ALBUM</button>
	<p class="Jacket-title">#Feel Special</p>
	<p class="Jacket-day">2019.09.23 Release</p>
	<p class="Jacket-introduction">TWICE 8th MINI ALBUM 『＃Feel Special』</p>
	<p class="recorded-music">
		<b>○CD収録曲<br></b>
		01. Feel Special<br>
        02. RAINBOW<br>
        03. GET LOUD<br>
        04. TRICK IT<br>
        05. LOVE FOOLISH<br>
        06. 21:29<br>
        07. Breakthrough (Korean ver.)<br>
	</p>
</div>
