<div class="blank">
</div>
<div class="MORE-Jacket">
</div>
<div class="blanks">
</div>
<div class="Jacket">
	<button class="btn btn-default">ALBUM</button>
	<p class="Jacket-title">#MORE & MORE</p>
	<p class="Jacket-day">2020.06.01 Release</p>
	<p class="Jacket-introduction">TWICE 9th MINI ALBUM 『＃MORE & MORE』</p>
	<p class="recorded-music">
		<b>○CD収録曲<br></b>
		01. MORE & MORE<br>
		02. OXYGEN<br>
        03. FIREWORK<br>
        04. MAKE ME GO<br>
        05. SHADOW<br>
        06. DON'T CALL ME AGAIN<br>
        07. SWEET SUMMER DAY<br>
	</p>
</div>
