<div class="blank">
</div>
<div class="TWICE3-Jacket">
</div>
<div class="blanks">
</div>
<div class="Jacket">
	<button class="btn btn-default">ALBUM</button>
	<p class="Jacket-title">#TWICE3</p>
	<p class="Jacket-day">2020.09.16 Release</p>
	<p class="Jacket-introduction">TWICE 3rd BEST ALBUM 『＃TWICE3』</p>
	<p class="recorded-music">
		<b>○CD収録曲<br></b>
		01. The Best Thing I Ever Did -Japanese ver.-<br>
		02. FANCY -Japanese ver.-<br>
		03. Feel Special -Japanese ver.-<br>
		04. MORE & MORE -Japanese ver.-<br>
		05. STUCK IN MY HEAD -Japanese ver.-<br>
		06. 21:29 -Japanese ver.-<br>
		07. The Best Thing I Ever Did<br>
		08. FANCY<br>
		09. Feel Special<br>
		10. MORE & MORE<br>
		11. STUCK IN MY HEAD<br>
		12. 21:29<br>
	</p>
</div>
