
	<div class="profile-title" id="hoge">
		<span style="border-bottom: solid 1px black;"><b>DISCOGRAPHY</b></span>
	</div>
  <div id="profile">
	<div class="flex">
    <div class="sample13">
      <a href="http://localhost:3000/discography/TWICE3">
      <div class="TWICE3">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="caption">
          <p>TWICE3</p>
        </div>
      </div>
    </a>
  </div>
  <div class="sample13">
    <a href="http://localhost:3000/discography/MORE">
      <div class="MORE">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="caption">
          <p>MORE & MORE</p>
        </div>
      </div>
    </a>
  </div>
  <div class="sample13">
    <a href="http://localhost:3000/discography/Feel_special">
      <div class="Feel-special">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="caption">
          <p>Feel Special</p>
        </div>
      </div>
    </a>
  </div>
  <div class="sample13">
    <a href="http://localhost:3000/discography/Break_through">
      <div class="Break-through">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="caption">
          <p>Break through</p>
        </div>
      </div>
    </a>
  </div>
  <div class="sample13">
    <a href="http://localhost:3000/discography/Fancy_you">
      <div class="Fancy-you">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="caption">
          <p>Fancy</p>
        </div>
      </div>
    </a>
  </div>
  <div class="sample13">
    <a href="http://localhost:3000/discography/Dance_the_night_away">
      <div class="Dance-the-night-away">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="caption">
          <p>Dance The Night Away</p>
        </div>
      </div>
    </a>
  </div>
	</div>
</div>


<script>
  $(function(){
    $("b").hover(function(){
      $("#hoge").css("color", "#00CCFF");
    });
  });
</script>