
	<div class="profile-title" id="hoge">
		<span style="border-bottom: solid 1px black;"><b>DISCOGRAPHY</b></span>
	</div>
  <div id="profile">
	<div class="flex">
    <a href="http://localhost:3000/discography/TWICE3">
      <div class="TWICE3">
      </div>
    </a>
    <a href="http://localhost:3000/discography/MORE">
      <div class="MORE">
      </div>
    </a>
    <a href="http://localhost:3000/discography/Feel_special">
      <div class="Feel-special">
      </div>
    </a>
    <a href="http://localhost:3000/discography/Break_through">
      <div class="Break-through">
      </div>
    </a>
    <a href="http://localhost:3000/discography/Fancy_you">
      <div class="Fancy-you">
      </div>
    </a>
    <a href="http://localhost:3000/discography/Dance_the_night_away">
      <div class="Dance-the-night-away">
      </div>
    </a>
	</div>
</div>

<script>
  $(function(){
    $("b").hover(function(){
      $("#hoge").css("color", "#00CCFF");
    });
  });
</script>