
  <div class="profile-title" id="hoge">
		<span style="border-bottom: solid 1px black;"><b>PROFILE</b></span>
	</div>
	<div class="flex">
    <div class="sample12">
		  <a href="http://localhost:3000/profile/nayeon">
  			<div class="NAYEON">
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="caption">
            <p>NAYEON</p>
          </div>
  			</div>
  		</a>
    </div>
    <div class="sample12">
  		<a href="http://localhost:3000/profile/jeongyeon">
  			<div class="JEONGYEON">
          <div class="mask1"></div>
          <div class="mask2"></div>
          <div class="caption">
            <p>JEONGYEON</p>
          </div>
  			</div>
  		</a>
    </div>
    <div class="sample12">
  		<a href="http://localhost:3000/profile/momo">
 			<div class="MOMO">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="caption">
            <p>MOMO</p>
 			  </div>
      </div>
 		   </a>
    </div>
    <div class="sample12">
 		 <a href="http://localhost:3000/profile/sana">
 			<div class="SANA">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="caption">
          <p>SANA</p>
        </div>
 			</div>
 		</a>
  </div>
  <div class="sample12">
 		<a href="http://localhost:3000/profile/jihyo">
 			<div class="JIHYO">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="caption">
          <p>JIHYO</p>
        </div>
 			</div>
 		</a>
  </div>
  <div class="sample12">
 		<a href="http://localhost:3000/profile/mina">
 			<div class="MINA">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="caption">
          <p>MINA</p>
        </div>
 			</div>
 		</a>
  </div>
  <div class="sample12">
 		<a href="http://localhost:3000/profile/dahyun">
 			<div class="DAHYUN">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="caption">
          <p>DAHYUN</p>
        </div>
 			</div>
 		</a>
  </div>
  <div class="sample12">
 		<a href="http://localhost:3000/profile/chaeyoung">
 			<div class="CHAEYOUNG">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="caption">
          <p>CHAEYOUNG</p>
        </div>
 			</div>
 		</a>
  </div>
  <div class="sample12">
 		<a href="http://localhost:3000/profile/tzuyu">
 			<div class="TZUYU">
        <div class="mask1"></div>
        <div class="mask2"></div>
        <div class="caption">
          <p>TZUYU</p>
        </div>
 			</div>
 		</a>
  </div>
	</div>
</div>

<script>
  $(function(){
    $("b").hover(function(){
      $("#hoge").css("color", "#EDD60E");
    });
  });
</script>
