<div class="profile">
	<div class="profile-title">
		<span style="border-bottom: solid 1px black;">PROFILE</span>
	</div>
	<div class="flex">
		<a href="http://localhost:3000/profile/nayeon">
  			<div class="NAYEON">
  			</div>
  		</a>
  		<a href="http://localhost:3000/profile/jeongyeon">
  			<div class="JEONGYEON">
  			</div>
  		</a>
  		<a href="http://localhost:3000/profile/momo">
 			<div class="MOMO">
 			</div>
 		</a>
 		<a href="http://localhost:3000/profile/sana">
 			<div class="SANA">
 			</div>
 		</a>
 		<a href="http://localhost:3000/profile/jihyo">
 			<div class="JIHYO">
 			</div>
 		</a>
 		<a href="http://localhost:3000/profile/mina">
 			<div class="MINA">
 			</div>
 		</a>
 		<a href="http://localhost:3000/profile/dahyun">
 			<div class="DAHYUN">
 			</div>
 		</a>
 		<a href="http://localhost:3000/profile/chaeyoung">
 			<div class="CHAEYOUNG">
 			</div>
 		</a>
 		<a href="http://localhost:3000/profile/tzuyu">
 			<div class="TZUYU">
 			</div>
 		</a>
	</div>
</div>