<div class="profile-title" id="hoge">
		<span style="border-bottom: solid 1px black;"><b>TWICE♡</b></span>
</div>
	<div class="video">
		<%= video_tag "TEASER.mp4", class: "landing_video", loop: true, autoplay: true, muted: true, style:"width:70%;"%>
		<div class="news">
			<span class="news-title"style="border-bottom: solid 1px white;"><b>NEWS</b>‘‘ twice ‘‘</span>
			<p class="news-body">
				TWICE 3rd BEST ALBUM<br>
			</p>
			<p class="news-bodys">
				#TWICE3<br></p>
			<p class="news-body">
				2020.9.16 (Wed) Release<br>
			</p>
		</div>
	</div>
	<div class="about">
		<div class="twice-about"></div>
		<div class="about-title">
			<span class="about-body"style="border-bottom: solid 1px white;"><b>ABOUT</b>‘‘ twice ‘‘</span>
		<p class="about-bodys">
			2017年6月28日に「#TWICE」で日本デビュー。<br>
			10代を中心とした圧倒的な支持でデビューから2年連続の紅白歌合戦にも出演を果<br>たす。<br>
			<br>
			今年3月にリリースされた「＃TWICE2」も大ヒットし、すでに35万枚を突破。<br>
			さらに2019年春には日本デビューしてからの夢であった、ドームツアーを実施。<br>
			3都市5公演で22万人動員させ大成功をおさめた。そのドームツアーを終え、TWICE<br>第2章がスタート!!<br>
			<br>
			7月17日（水）にJAPAN 4th SINGLE『HAPPY HAPPY』、7月24日（水）に5th<br> SINGLE『Breakthrough』を2週連続でリリースし2作品あわせて80万枚を突破し、<br> TWICEの相反する新たな2面のコンセプトが話題となった。<br>
			勢い止まらず、11月20日（水）にJAPAN 2nd ALBUM『&TWICE』（アンド トゥワ<br>イス）をリリース！<br>
			<br>
			オリコン週間アルバムランキングで初週売上12.4万枚で初登場1位を獲得。5/13付<br>で韓国7thミニアルバム『FANCY YOU』が獲得して以来、通算5作目の1位となり、<br>「海外⼥性アーティストのアルバム1位獲得作品数」が歴代2位タイとなった。<br>
			2019年年末には「第70回紅白歌合戦」にも3年連続で出場。<br>
			<br>

			2020年2月5日（水）にJAPAN 2nd ALBUM『&TWICE』（アンド トゥワイス）に<br>新曲「SWING」（スウィング）を追加収録した、リパッケージアルバム『&TWICE <br>-Repackage-』（アンド トゥワイス-リパッケージ-）をリリース。 さらに、翌月の<br>3月4日（水）には2019年春、日本デビュー時からずっと目標とし、当時韓国デビ<br>ューのガールズグループとしては初のドームツアーを実施、22万人が大熱狂し、圧巻<br>のステージを成功させた、夢の東京ドーム公演が映像商品化となった『TWICE<br> DOME TOUR 2019 “#Dreamday” in TOKYO DOME』（トゥワイスドームツアー<br>ニセンジュウキュウ ハッシュタグドリームデイ）のDVD・Blu-rayをリリース！<br>
			<br>

			2020年7月8日（水）にTWICE JAPAN 6th SINGLE『Fanfare』のリリース！オリコ<br>ン週間シングルランキングにて初登場1位を獲得！勢い止まらず最強ベストアルバム<br>の『#TWICE3』を9月16日（水）にリリースすることを発表！<br>
		</p>
		<div class="member-profile">
			<a href="http://localhost:3000/home/profile">
				<p>MEMBER PROFILE</p>
			</a>
		</div>
		</div>
		<div class="twice-abouts"></div>
	</div>

<script>
  $(function(){
    $("b").hover(function(){
      $("#hoge").css("color", "rgba(255,0,0,0.4)");
    });
  });
</script>

