<div class="profile-title" id="hoge">
	<span style="border-bottom: solid 1px black;"><b>VIDEO</b></span>
</div>
<div class="row">
		<div class="left-mv">
			<p class="left-title"><b>「Fanfare」</p>
			<iframe width="400" height="400" src="https://www.youtube.com/embed/kRT174IdxuM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="center-mv">
			<p class="center-title"><b>「MORE & MORE」</p>
			<iframe width="400" height="400" src="https://www.youtube.com/embed/mH0_XpSHkZo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="right-mv">
			<p class="center-title"><b>「Feel Special」</p>
			<iframe width="400" height="400" src="https://www.youtube.com/embed/3ymwOvzhwHs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="left-mv">
			<p class="left-title"><b>「FANCY」</p>
			<iframe width="400" height="400" src="https://www.youtube.com/embed/kOHB85vDuow" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="center-mv">
			<p class="center-title"><b>「Breakthrough」</p>
			<iframe width="400" height="400" src="https://www.youtube.com/embed/ZdKYi5ekshM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="right-mv">
			<p class="right-title"><b>「Dance The Night Away」</p>
			<iframe width="400" height="400" src="https://www.youtube.com/embed/Fm5iP0S1z9w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="left-mv">
			<p class="left-titles"><b>「Make You Happy」</p>
			<iframe width="400" height="400" src="https://www.youtube.com/embed/QW28YKqdxe0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="center-mv">
			<p class="center-titles"><b>「BDZ」</p>
			<iframe width="400" height="400" src="https://www.youtube.com/embed/CMNahhgR_ss" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="right-mv">
			<p class="right-title"><b>「SLEEP TIGHT GOOD NIGHT」</p>
			<iframe width="400" height="400" src="https://www.youtube.com/embed/M4pk0Wx372w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
</div>

<script>
  $(function(){
    $("b").hover(function(){
      $("#hoge").css("color", "#00cc66");
    });
  });
</script>
