<div class="wrap">
	<div class="chaeyoung">
		<p class="name">CHAEYOUNG</p>
		<p class="japan-name">チェヨン　채영</p>
		<p class="birthday">生年月日 : 1999.04.23</p>
		<p class="blood-type">血液型 : B</p>
		<p class="nick-name">あだ名 : ちびっ子ラッパー/赤ちゃん怪獣/いちごプリセンス</p>
		<p class="skill">特技 : 絵を描くこと</p>
	</div>
	<div class="chaeyoung-photo">
	</div>
</div>