<div class="wrap">
	<div class="dahyun">
		<p class="name">DAHYUN</p>
		<p class="japan-name">ダヒョン　다현</p>
		<p class="birthday">生年月日 : 1998.05.28</p>
		<p class="blood-type">血液型 : O</p>
		<p class="nick-name">あだ名 : ノリノリなお豆腐</p>
		<p class="skill">特技 : ダンス、ラップ</p>
	</div>
	<div class="dahyun-photo">
	</div>
</div>