<div class="wrap">
	<div class="profile-title">
		<span style="border-bottom: solid 1px black;">PROFILE</span>
	</div>
	<div class="row">
	<div class="jeongyeon-photo">
	</div>
	<div class="jeongyeon">
		<p class="name">JEONGYEON</p>
		<p class="japan-name">ジョンヨン　정연</p>
		<p class="birthday">生年月日 : 1996.11.01</p>
		<p class="blood-type">血液型 : O</p>
		<p class="nick-name">あだ名 : ガールクラッシュ</p>
		<p class="skill">特技 : スマホゲーム</p>
	</div>
	</div>
</div>