<div class="wrap">
	<div class="profile-title">
		<span style="border-bottom: solid 1px black;">PROFILE</span>
	</div>
	<div class="jihyo">
		<p class="name">JIHYO</p>
		<p class="japan-name">ジヒョ　지효</p>
		<p class="birthday">生年月日 : 1997.02.01</p>
		<p class="blood-type">血液型 : O</p>
		<p class="nick-name">あだ名 : マイク</p>
		<p class="skill">特技 : トロット・ギャグ</p>
	</div>
	<div class="jihyo-photo">
	</div>
</div>