<div class="wrap">
	<div class="profile-title">
		<span style="border-bottom: solid 1px black;">PROFILE</span>
	</div>
	<div class="mina">
		<p class="name">MINA</p>
		<p class="japan-name">ミナ　미나</p>
		<p class="birthday">生年月日 : 1997.03.24</p>
		<p class="blood-type">血液型 : A</p>
		<p class="nick-name">あだ名 : ブラックスワン</p>
		<p class="skill">特技 : クラシックバレエ</p>
	</div>
	<div class="mina-photo">
	</div>
</div>