<div class="wrap">
	<div class="nayeon">
		<p class="name">NAYEON</p>
		<p class="japan-name">ナヨン　나연</p>
		<p class="birthday">生年月日 : 1995.09.22</p>
		<p class="blood-type">血液型 : A</p>
		<p class="nick-name">あだ名 : ゼニガメ/ナヨンオンニ</p>
		<p class="skill">特技 : 振り付けを早く習得すること</p>
	</div>
	<div class="nayeon-photo">
	</div>
</div>
