<div class="wrap">
	<div class="profile-title">
		<span style="border-bottom: solid 1px black;">PROFILE</span>
	</div>
	<div class="row">
	<div class="sana-photo"></div>
	<div class="sana">
		<p class="name">SANA</p>
		<p class="japan-name">サナ　사나</p>
		<p class="birthday">生年月日 : 1996.12.29</p>
		<p class="blood-type">血液型 : B</p>
		<p class="nick-name">あだ名 : キューティーセクシー</p>
		<p class="skill">特技 : マッサージ、書道</p>
	</div>
	</div>
</div>