<div class="profile-title">
		<span style="border-bottom: solid 1px black;">PROFILE</span>
	</div>
	<div class="row">
	<div class="tzuyu-photo"></div>
	<div class="tzuyu">
		<p class="name">TZUYU</p>
		<p class="japan-name">ツウィ　쯔위</p>
		<p class="birthday">生年月日 : 1999.06.14</p>
		<p class="blood-type">血液型 : A</p>
		<p class="nick-name">あだ名 : 末っ子</p>
		<p class="skill">特技 : ダンス、遠投</p>
	</div>
	</div>
